@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #0a0a0a;
    background-attachment: fixed;
}


/* HEADER */
header {
    color: #FFFFFF;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.header__title {
    padding-top: 5%;
    margin: 0;
    font-size: 70px;
}


/* HEADER SEARCH */
.header__search {
    position: relative;
    width: 75%;
    max-width: 450px; 
    margin: 20px auto; 
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    opacity: 0.6;
}
.header__search input[type="search"] {
    border-radius: 20px;
    padding: 10px 37px; 
    background-color: rgba(0, 0, 0, 0.085); 
    border: 1px solid #444; 
    color: white;
    outline: none;
    font-size: 18px;
    width: 500px; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); 
    transition: all 0.2s ease-in-out; 
}
.header__search input[type="search"]:hover, 
.header__search input[type="search"]:focus {
    background-color: rgba(59, 58, 58, 0.444);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); 
}
.header__search input[type="search"]::placeholder {
    color: #bbb; 
}
input[type="search"]::-webkit-search-cancel-button {
    display: none; 
}


/* HEADER DATE AND RELEASE */
.filter-sliders-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.filter__date_creation,
.filter__first_album_release {
    display: flex;
    align-items: center;
    
}
.filter__date_creation label,
.filter__first_album_release label {
    margin-right: 10px; /* Расстояние между меткой и полем ввода */
    white-space: nowrap; /* Убедиться, что текст метки не переносится */
}
.filter__date_creation input[type="number"],
.filter__first_album_release input[type="number"] {
    width: auto;
    padding: 10px;
    border: 1px solid #444; 
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.085); 
    color: white;
    font-size: 16px;
    transition: all 0.2s ease-in-out; 
}
.filter__date_creation input[type="number"]:focus,
.filter__first_album_release input[type="number"]:focus,
.filter__date_creation input[type="number"]:hover,
.filter__first_album_release input[type="number"]:hover {
    background-color: rgba(59, 58, 58, 0.444);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* Отмена стилей для input при наведении на метку */
.filter__date_creation label:hover + input[type="number"],
.filter__first_album_release label:hover + input[type="number"] {
    background-color: rgba(0, 0, 0, 0.085); /* Возвращаем исходный фон */
    box-shadow: none; /* Убираем тень */
}


/* HEADER MEMBERS */
.filter__members {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    
}
/* .filter__members label {
    cursor: pointer; 
} */
.filter__members input[type="checkbox"] {
    appearance: none; 
    background-color: rgba(0, 0, 0, 0.085); 
    width: 20px; /* Ширина */
    height: 20px; /* Высота */
    border: 1px solid #444;  
    border-radius: 50%; 
    position: relative;
    font-size: 16px;
    cursor: pointer;
}
.filter__members input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px; 
    height: 8px;
    background-color: white;
    border-radius: 50%;
}
.filter__members input[type="checkbox"]:hover,
.filter__members input[type="checkbox"]:focus {
    background-color: rgba(59, 58, 58, 0.444);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    
}
/* Отмена стилей для чекбокса при наведении на метку */
.filter__members label:hover + input[type="checkbox"] {
    background-color: rgba(0, 0, 0, 0.085); /* возвращаем исходный фон */
    box-shadow: none; /* убираем тень */
}



/* HEADER LOCATIONS */
.filter__locations h3 {
    margin-bottom: 5px; /* Отступ до списка */
}
/* Стилизация скроллбара для Webkit браузеров */
.filter__locations select {
    overflow-y: auto; /* Позволяет скроллу активироваться, когда это необходимо */
}
.filter__locations select::-webkit-scrollbar {
    width: 12px; /* Ширина скроллбара */
}
.filter__locations select::-webkit-scrollbar-track {
    background: #333; /* Цвет дорожки скроллбара */
}
.filter__locations select::-webkit-scrollbar-thumb {
    background-color: #444; /* Цвет самого скроллера */
    border-radius: 10px; /* Скругленные углы скроллера */
    border: 2px solid #333; /* Граница дорожки скроллбара */
}
.filter__locations select:hover,
.filter__locations select:focus {
    border-color: #ffffff86; /* Синий цвет рамки при наведении или фокусе */
    box-shadow: 0 0 8px rgba(191, 191, 191, 0.688); /* Слабое свечение */
}
.filter__locations select {
    width: 100%; /* Полная ширина контейнера */
    padding: 10px; /* Паддинг для удобства использования */
    background-color: rgba(0, 0, 0, 0.085); 
    color: white; /* Цвет текста */
    border: 1px solid #444; /* Легкая рамка вокруг */
    border-radius: 5px; /* Скругленные углы */
    appearance: none; /* Убираем стандартный стиль */
    cursor: pointer; /* Курсор в виде указателя */
    outline: none; /* Отключаем контур при фокусе */
}

/* Стиль для стрелки выпадающего списка */
.filter__locations select {
    position: relative;
    background-image: url('data:image/svg+xml,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Позиция иконки стрелки */
    background-size: 16px 16px; /* Размер иконки */
}


/* Повышаем удобство чтения элементов в списке */
.filter__locations option {
    background-color: #333; /* Темный фон для каждого элемента списка */
}



.filter__button {
    padding: 10px 20px;
    background-color: #008CBA; /* Синяя кнопка */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter__button:hover {
    background-color: #007ba7; /* Темнее при наведении */
}
/* END HEADER */



/* MAIN */

.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 80px 0px 80px;
    gap: 80px;
}
.artist-card {
    background-color: #303030;
    border-radius: 10px;
    color: white;
    height: 240px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.artist-card img {
    border-radius: 10px 10px 0 0;
    width: 200px;
    filter: grayscale(100%) opacity(0.65);
    transition: filter 0.3s ease, opacity 0.3s ease;
}
.artist-card:hover img {
    filter: grayscale(0%) opacity(1);
}
.artist-card div {
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 9px;
}
.artist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    width: 60%;
    color: white;
}

/* END MAIN CONTENT */