<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/artist.css">
    <title>{{.Artist.Name}}</title>
</head>
<body>
    <h1>groupie tracker</h1>
    <main class="artist">
        <div class="logo">
            <div>
                <img src="{{.Artist.Image}}" alt="" class="img-logo">
                <h2>{{.Artist.Name}}</h2>
            </div>
            <p class="created">created {{.Artist.CreationDate}} • first album {{.Artist.FirstAlbum}}</p>
        </div>
        <div class="info">
            <section class="concerts">
                <h3>Concerts:</h3>
                <ul>
                    {{range $city, $dates := .Relations.DatesLocations}}
                        <li class="city">
                            <p>{{ $city }}</p>
                            <ul>
                                {{range $dates}}
                                    <li class="date">{{.}}</li>
                                {{end}}
                            </ul>
                        </li>
                    {{end}}
                </ul>
            </section>
            <section class="members">
                <h3>Members:</h3>
                <ul>
                    {{range .Artist.Members}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </section>
        </div>
    </main>
</body>
</html>