<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/artist.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon_groupie_tracker_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="..static/favicon/favicon_groupie_tracker_32.png">
    <title>{{.Artist.Name}}</title>
</head>
<body>
    <h1>Groupie Tracker</h1>
    <main class="artist">
        <div class="logo">
            <div>
                <img src="{{.Artist.Image}}" alt="" class="img-logo">
                <h2>{{.Artist.Name}}</h2>
            </div>
            <p class="created">created {{.Artist.CreationDate}} • first album {{.Artist.FirstAlbum}}</p>
        </div>
        <div class="info">
            <section class="concerts">
                <!-- <h3>Concerts:</h3>
                <ul>
                    {{range $city, $dates := .Relations.DatesLocations}}
                        <li class="city">
                            <p>{{ $city }}</p>
                            <ul>
                                {{range $dates}}
                                    <li class="date">{{.}}</li>
                                {{end}}
                            </ul>
                        </li>
                    {{end}}
                </ul>
            </section> -->

            <h3> Concerts geolocalization:</h3>
            <div id="gmaps" class="gmap">

            </div>

            <section class="members">
                <h3>Members:</h3>
                <ul>
                    {{range .Artist.Members}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </section>
        </div>
    </main>
    <!-- geolocalization script -->
    <script>
        var geolocs = JSON.parse('{{.Geolocations}}')

        function initMap() {
            geocoder  = new google.maps.Geocoder();
            var LatLng = new google.maps.LatLng(0, 0);
            var mapCfg = {
                zoom: 1,
                center: LatLng
            } 

            gmap = new google.maps.Map(document.getElementById('gmaps'), mapCfg)
            geolocs.forEach(loc => {
                geocoder.geocode({ address: loc}, function (results, status){
                    if (status == google.maps.GeocoderStatus.OK) {
                        var marker = new google.maps.Marker(
                            {
                                map: gmap,
                                position: results[0].geometry.location
                            });
                    } else {
                        alert('Ooops, something going wrong: ' + status);
                    }
                });
            });
        }
    </script>

    <!-- google maps api  -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyVZ_EFDp_kJe466QWs8SAt0TP6CSzQWk&callback=initMap">
    </script>
</body>
</html>