<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <h1>Groupie-tracker</h1>

    <form action="/search" method="POST">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit">Search</button>
    </form>

    <form action="/filter" method="POST" class="filter-form">
        <div class="filter-container">
            <label for="FromCreationDate" style="color: white;">From Career Starting Year:</label>
            <input type="range" min="{{.FiltersData.FirstCreationDate}}" max="{{.FiltersData.LastCreationDate}}" value="{{.FiltersData.FirstCreationDate}}" name="FromCreationDate" id="creationDate">
            <span id="dateValue" style="color: white;">{{.FiltersData.FirstCreationDate}}</span> 
        </div><br>

        <div class="filter-container">
            <label for="ToCreationDate" style="color: white;"> To Career Starting Year:</label>
            <input type="range" min="{{.FiltersData.FirstCreationDate}}" max="{{.FiltersData.LastCreationDate}}" value="{{.FiltersData.LastCreationDate}}" name="ToCreationDate" id="ToCreationDate">
            <span id="ToDateValue" style="color: white;">{{.FiltersData.LastCreationDate}}</span> 
        </div><br>



        <div class="filter-container">
            <label for="FromFirstAlbumDate" style="color: white;">First Album Year:</label>
            <input type="date" min="{{.FiltersData.LowestFirstAlbum}}" max="{{.FiltersData.HighestFirstAlbum}}" value="{{.FiltersData.LowestFirstAlbum}}" name="FromFirstAlbumDate" id="firstAlbumDate">
        </div><br>

        <div class="filter-container">
            <label for="ToFirstAlbumDate" style="color: white;">First Album Year:</label>
            <input type="date" min="{{.FiltersData.LowestFirstAlbum}}" max="{{.FiltersData.HighestFirstAlbum}}" value="{{.FiltersData.HighestFirstAlbum}}" name="ToFirstAlbumDate" id="firstAlbumDate">
        </div><br>

        <div class="filter-container">
            <label style="color: white;">Number of Members:</label>
            <div>
                {{range .FiltersData.Members}} 
                <!-- Adjust the value and names as needed -->
                <input type="checkbox" id="members{{.}}" name="members{{.}}" value="{{.}}">
                <label for="members{{.}}" style="color: white;">{{.}}</label>
                {{end}}
            </div>
        </div>

        <div class="filter-container"> 
            <h3 style="color: white;">Locations:</h3>
            <select name="locations">
                {{ range .FiltersData.Locations}}
                <option value="{{.}}">{{.}}</option>
                {{end}}
            </select>
        </div><br>

        <button type="submit">Apply Filters</button>
        <br><br>
    </form>

    <main class="index">
        <!-- Your artists cards go here -->
        {{range .Artists}}
        <a href="/artist?artistID={{.ID}}">
            <div class="artist-card">
                <img src="{{.Image}}" alt="{{.Name}}">
                <div>
                    <p>{{.Name}}</p>
                </div>
            </div>
        </a>
        {{end}}
    </main>
    <script>
        document.getElementById('creationDate').oninput = function() {
            document.getElementById('dateValue').textContent = this.value;
        }

        document.getElementById('ToCreationDate').oninput = function() {
            document.getElementById('ToDateValue').textContent = this.value;
        }
    </script>

</body>
</html>
