<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon_groupie_tracker_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="..static/favicon/favicon_groupie_tracker_32.png">
    <title>Groupie Tracker</title>
</head>
<body>
    <header>
        <h1 class="header__title">Groupie-tracker</h1>
        
        <form action="/search" method="POST" class="header__search">
            <img src="static/image/loupe.png" alt="Search Icon" class="search-icon">
            <input type="search" placeholder="Search" name="search" id="search">
            <datalist id="search">
                {{range $key, $value := .SearchData}} 
                <option data-key="{{$key}}" value="{{$value}}">{{$value}}</option> 
                {{end}}
            </datalist>
        </form>
    
        <div class="header__filter">
        <form action="/filter" method="POST" class="filter-form">
            <div class="filter-sliders-container">
                <div class="filter__date_creation">
                    <label for="FromCreationDate">Date of group creation:</label>
                    <input type="number" min="{{.FiltersData.FirstCreationDate}}" max="{{.FiltersData.LastCreationDate}}" name="FromCreationDate" id="creationDate">
                </div>
            
                <div class="filter__album_release">
                    <label for="ToCreationDate">First album release:</label>
                    <input type="number" min="{{.FiltersData.FirstCreationDate}}" max="{{.FiltersData.LastCreationDate}}" name="ToCreationDate" id="ToCreationDate">
                </div>
            </div>  
    
            <div class="filter__members">
                <label>Number of Members:</label>
                    {{range .FiltersData.Members}} 
                    <label for="members{{.}}">{{.}}</label>
                    <input type="checkbox" id="members{{.}}" name="members{{.}}" value="{{.}}">
                    {{end}}
            </div>
    
            <div class="filter__locations"> 
                <h3>Locations:</h3>
                <select name="locations">
                    {{range .FiltersData.Locations}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>
            </div>
            <button class="filter__button" type="submit">Apply Filters</button>
        </div>
        </form>
    </header>

    <main>
        {{range .Artists}}
        <a href="/artist?artistID={{.ID}}">
            <div class="artist__card">
                <img src="{{.Image}}" alt="{{.Name}}">
                <div>
                    <p>{{.Name}}</p>
                </div>
            </div>
        </a>
        {{end}}
    </main>
    <script>
        document.querySelectorAll('.filter__members input[type="checkbox"]').forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
        document.querySelectorAll('.filter__members input[type="checkbox"]').forEach(function(otherCheckbox) {
            if (otherCheckbox !== checkbox) {
                otherCheckbox.checked = false;
            }
        });
    });
});
document.querySelectorAll('.filter__members input[type="checkbox"]').forEach(checkbox => {
    checkbox.addEventListener('change', () => {
        if (!checkbox.checked) {  
            checkbox.blur(); 
        }
    });
});
    </script>
</body>
</html>